body {
  background-color: #F8F8EC;
  height: 100vh;
  width: 100vw;
}

.green-text {
  color: #0AA370;
}

.orange-text {
  font-size: 18pt !important;
  color: #FB8356;
}

.font-weight-bold {
  font-weight: bold;
}

.btn {
  font-size: 14pt !important;
}

.nav-link {
  font-size: 16pt !important;
  color: #0AA370 !important;
}